/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightblue;
    font-family: 'Nerko One', cursive;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* titolo della pagina */

.main_title {
    font-size: 5rem;
    color: white;
    text-align: center;
}

/* classe container */

.container {
    width: 80%;
    height: 1200px;
    margin: auto;
    text-align: center;
}

/* carta visibile */

.element, .element_404 {
    display: inline-block;
    width: calc(100% / 6 - 30px);
    height: 250px;
    margin: 30px;
    background-color: white;
    background-image: url(/img/pattern.png);
    background-size: contain;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

/* immagine visibile */

.element img {
    display: none;
}

.title {
    display: none;
}

/* regole hover */

.element:hover img {
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
}

.element:hover {
    background-image: none;
}

.element:hover .title {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: inline-block;
    width: 100%;
    margin: auto;
    background-color: white;
    font-size: 25px;
}

/* casella scoperta */

.element_404 {
    background-image: none;
}

.show_me_pls {
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
}

.title_show_me_pls {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: inline-block;
    width: 100%;
    margin: auto;
    background-color: white;
    color: purple;
    font-size: 25px;
}

/* colori del testo */

.balloon {
    color: purple;
}

.bicycle {
    color: red;
}

.cruise {
    color: lightseagreen;
}

.submarine {
    color: goldenrod;
}

.tractor {
    color: brown;
}

.tram {
    color: grey;
}

.cruise {
    color: blue;
}

/* footer  */

footer {
    font-size: 20px;
}